.mdl-button--colored, .mdl-layout__drawer-button, .mdl-color--blue-900, #CategoryList, 
select, option {
    background: #01579b !important;
}
.mdl-color--blue-800, .btn, .btn-primary {
    background: #1a237e !important;
}
#maksunappi {
    background: #1a237e !important;
    border-color: #1a237e;
    border-radius: 4px;
    color: white !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    background: #1a237e;
}