.mdl-color--blue-grey-900 {
    background: #546e7a !important;
}
.mdl-color--grey-900 {
    background:  #90a4ae !important;    
}
.mdl-color--blue-grey-900 {
    background-color: rgba(255,255,255,0.5);
}
span.mdl-color-text--white {
    color: black !important;
}