.mdl-button--colored, .mdl-layout__drawer-button, .mdl-color--blue-900, #CategoryList, 
select, option{
    background: #880e4f !important;
}
.mdl-color--blue-800, .btn, .btn-primary{
    background: #ad1457 !important;
}
#maksunappi {
    background: #ad1457 !important;
    border-color: #ad1457;
    border-radius: 4px;
    color: white !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    background: #ad1457;
}