* {
    font: 100% Cantarell, "Segoe UI", Helvetica, sans-serif !important;
    transition: .3s ease-in-out !important;
}
html {
    background-color: black;
}
div {
    transform: opacity 2s;
    opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.hidden {
    opacity: 0;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    background: #fff;
}
body {
  font: 100% Cantarell, "Segoe UI", Helvetica, sans-serif;
  color: #fff;
  background: #212121;
  text-shadow: 0.1vh 0.1vh rgba(0, 0, 0, 0.5);
  font-size: 1.7vh; }
.mdl-layout-title {
  font: 1.3vw Cantarell, Helvetica, sans-serif;
  text-shadow: 0.3vh 0.3vh rgba(0, 0, 0, 0.5);
}
body.fade-out {
    opacity: 0;
}
body.fade-in {
    opacity: 1;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
.bluepicker {
    background: #0d47a1 !important;
    height: 50px;
    width: 50px;
    border-color: #0d47a1;
    border-radius: 4px;
}
.pinkpicker {
    background: #d500f9 !important;
    height: 50px;
    width: 50px;
    border-color: #d500f9;
    border-radius: 4px;
}
.greenpicker {
    background: #1b5e20 !important;
    height: 50px;
    width: 50px;
    border-color: #1b5e20;
    border-radius: 4px;
}
.lightpicker {
    background: #eeeeee !important;
    height: 50px;
    width: 50px;
    border-color: #2d2d2d;
    border-radius: 4px;
}
.darkpicker {
    background: #2d2d2d !important;
    height: 50px;
    width: 50px;
    border-color: #2d2d2d;
    border-radius: 4px;
}
#omakortti {
    padding-left: 4vh;
}
.img {
    width: 20vh;
}
.lippu {
    border-radius: 200%;
}
body, .mdl-button {
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

#CategoryList, img, select {
    box-shadow: 0 0.3vh 0.8vh 0.2vh rgba(0, 0, 0, 0.3);
}
.mdl-shadow--2dp, .mdl-layout__drawer-button {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
select {
    border-radius: 5px;
}
.material-icons {
    margin-top: 13px;
}
.finlogout {
    margin-left: 100px;
}
.finlogin {
    margin-left: 60px;
}
div form {
    margin-left: 10px;
}
.omafield {
    color: white !important;
    border-radius: 5px;
    background: none;
    margin-top: 10px;
    margin-bottom: 5px;
}
h2 {
    margin-bottom: -10px;
}
.demo-avatar {
    border-radius: 10vh !important;
}
.rating {
    float:left;
}
#leftpadding {
    padding-left: 25px;
}
.polskipadding {
    margin-left: 100px !important;
}
.finpadding {
    margin-left: 200px !important;
}
.mdl-layout__container {
    background: #2d2d2d;
}
.demo-drawer {
    border-right: none;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}
.white {
    color: white !important;
}
.rating:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
.bold {
    font-weight: bold !important;
}
.underline {
    text-decoration: underline !important;
}
#clearlist {
    margin-left: 8px;
    margin-right: 5px;
}
.tasaa {
    min-height: 75px !important;
}