body {
  font: 100% Cantarell, Helvetica, sans-serif;
  color: #333;
  background: #212121;
  text-shadow: 0.1vh 0.1vh rgba(0, 0, 0, 0.5);
  font-size: 12px; }

.App {
  text-align: center; }

.white {
  color: white !important; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#sidebar {
  color: white;
  background: #2d2d2d;
  width: 250px;
  height: 100%;
  position: absolute;
  min-height: 20vh;
  height: 100vh;
  z-index: 1; }

#topbar {
  padding-left: 50%;
  color: white;
  background: #9c27b0;
  width: 163%;
  max-width: 90vw;
  height: 100px;
  box-shadow: 0 0.4vh 0.8vh 0.1vh rgba(0, 0, 0, 0.2);
  border-radius: 0.3vh; }

#topbar * {
  display: inline-block; }

#megagrid {
  height: 100vh;
  width: 100vw;
  columns: 2;
  overflow: hidden; }

#usericon {
  margin-top: 30px;
  width: 100px;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5); }

#emaildisplay {
  margin-top: 1vh;
  font-size: 15px;
  text-align: center; }

button, #login, #signup, #logout, #products, #admins, #profile, #category, #cart {
  font-size: 15px;
  background-color: #9c27b0;
  border-color: #9c27b0;
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  text-shadow: 0.1vh 0.1vh rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.3); }

.mdl-button {
  border: 0;
  padding: 0; }

#login, #signup, #logout {
  margin-right: 8px;
  margin-left: 8px;
  font-family: "Segoe UI", Cantarell, Ubuntu, sans-serif;
  font-size: 12px; }

#topbuttons {
  margin-right: 10%; }

#products, #admins, #profile, #category {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  background: #2d2d2d;
  border-color: #2d2d2d;
  font-size: 12px; }

#cart {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 30px;
  background-image: url("../static/img/cart.png");
  background-color: #9c27b0;
  background-repeat: no-repeat;
  box-shadow: none; }

#categorylist {
  margin-top: 50px;
  align-items: center; }

#categories {
  list-style: none;
  align-items: center;
  min-height: 300px;
  background: #212121;
  border-radius: 0.3vh;
  box-shadow: -2px 4px 5px 1px rgba(0, 0, 0, 0.6); }

#categories li {
  width: 170px;
  border-radius: 0;
  background: #9c27b0;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.3); }

#productlist {
  list-style: none;
  box-shadow: none;
  position: absolute;
  left: 30%;
  top: 200px;
  color: white; }

#productlist li {
  width: 55vw;
  font-size: 18px;
  background: #9c27b0;
  border-radius: 0.3vh;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.3); }

#liSpacer {
  filter: opacity(0%);
  background: transparent; }

#bottomarea {
  background: #212121;
  min-height: 100px; }
